---
import Image from 'components/elements/Image.astro'
import Translate from 'components/localization/Translate.astro'

interface Props {
	className?: string
	title: string
	titleUnderline?: string
	subtitle?: string
	buttonText?: string
	buttonLink?: string
	id?: string
}

const { title, titleUnderline, subtitle, id, buttonText, buttonLink,  class: className = '' } = Astro.props as props
---

<section id={id || ''} class={`${className} image-hero`}>
	<div class="container hero hero-container">
		<div class="hero-text">
			<h1 class="hero-title"><Translate key={title}  />&nbsp;{titleUnderline && <span class="hero-title-underline"><Translate key={titleUnderline} /></span>}</h1>
			<p class="hero-caption">
				<Translate key={subtitle} />
			</p>
			<button href={buttonLink} class="hero__cta cta cta--primary">{buttonText}</button>
		</div>

		<div class="hero-image-wrapper">
			<Image class="hero-image" src="/images/illustrations/Astronaut-pana.svg" />
		</div>
	</div>
	<span class="scrolldown"></span>
</section>

<style lang="scss">
	/* Hero section */
	section.image-hero {
		padding: var(--spacer-xl) 0;
		position: relative;
		height: 100vh;

		.container {
			margin-top: 0;
		}
	}

	@media screen and (min-width: 80em) {
		.defnault-hero .container {
			margin-top: calc(var(--header-height) - 1rem);
		}
	}

	@media screen and (min-width: 40em) {
		.image-hero {
			background-color: transparent;
		}
	}

	/* Hero container */
	.hero-container {
		display: grid;
		height: 100%;
		justify-content: center;
	}

	@media screen and (min-width: 40em) {
		.hero-container {
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			justify-items: stretch;
			align-content: center;
		}
	}

	.hero-text {
		width: min(40rem, 100%);
	}

	.hero-title {
		font-size: clamp(2rem, 6vw + 0.5rem, 4rem);
		margin-bottom: 2rem;
		font-weight: 800;
	}

	.hero-title-underline {
		border-bottom: 0.25rem solid var(--color-primary);
	}

	.hero-caption {
		margin-bottom: 3rem;
	}


	@media screen and (min-width: 40em) {
		.hero-image-wrapper {
			display: block;
		}
		.hero-image-wrapper .hero-image {
			display: block;
		}
	}

	@media screen and (min-width: 100em) {
		.hero-image-wrapper .hero-image {
			transform: scale(1.2) translateX(2rem)
		}
	}

	.hero-image {
		width: 100%;
	}
</style>
