---
import Avatar from 'components/image/Avatar.astro'
import WebMentionReply from 'components/social/WebMentionReply.astro'
import site from 'data/site.json'

interface WebMention {
  author?: {
    photo: string
    name: string
  };
  url?: string
  published: Date
  content: {
    text: string
  }
}

interface Props {
  webMentions: WebMention[]
  url: string
}

const { webMentions, url } = Astro.props as props
---

<h2 class="h3">Webmentions</h2>

<slot />

{likes && likes.length > 0 && (
  <div class="facepile">
    <h3 class="h4">{likes.length} Like{likes.length > 1 ? "s" : ""}</h3>

    {likes.map((mention) => mention.url ? (
        <a class="h-card u-url" href={mention.url} target="_blank" rel="noopener noreferrer">
          <Avatar src={mention.author.photo} alt={mention.author.name} />
        </a>
    ) : (
        <Avatar src={mention.author.photo} alt={mention.author.name} />
    ))}
  </div>
)}

{reposts && reposts.length > 0 && (
  <div class="facepile">
    <h3 class="h4">{reposts.length} Repost{reposts.length > 1 ? "s" : ""}</h3>

    {reposts.map((mention) => mention.url ? (
        <a class="h-card u-url" href={mention.url} target="_blank" rel="noopener noreferrer">
          <Avatar src={mention.author.photo} alt={mention.author.name} />
        </a>
    ) : (
        <Avatar src={mention.author.photo} alt={mention.author.name} />
    ))}
  </div>
)}

{replies && replies.length > 0 && (
  <div>
    <h3 class="h4">
      {replies.length}
      {replies.length === 1 ? "Reply" : "Replies"}
    </h3>

    {replies.map((mention) => (
        <WebMentionReply mention={mention} />
    ))}
  </div>
)}


<div class="webmentions__form">
  <p class="h5">
    {webMentions.length > 0 ? "These are " : "We support "} <a href="https://indieweb.org/Webmention">webmentions</a> via the
    <a href="https://indieweb.org/">IndieWeb</a>
    and
    <a href="https://webmention.io/">webmention.io</a>. Mention this post from
    your site:
  </p>
  <form
    action="https://webmention.io/{site.domain}/webmention"
    method="post"
    class="form-webmention"
  >
    <label for="form-webmention-source">URL</label>
    <input
      id="form-webmention-source"
      type="url"
      name="source"
      placeholder="https://example.com"
      required=""
    />
    <input type="hidden" name="target" value={url} />
    <button type="submit">Send Webmention</button>
  </form>
</div>

<style lang="scss">
  h2 {
    margin-bottom: var(--spacer-xs);
  }

  h3 {
    width: 100%;
    color: var(--color-secondary);
    font-weight: 500;
    margin: var(--spacer-md) 0 var(--spacer-xs);
  }

  .facepile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spacer-xs);
    margin: 0;

    & a {
      text-decoration: none;

      &:hover :global(img) {
        filter: var(--shadow-md);
      }
    }
  }

  .webmentions__form {
    margin-top: var(--spacer-lg);
  }

  button[type=submit] {
    margin-top: var(--spacer-sm);
  }
</style>
