---
import Layout  from '~/layouts/base.astro'
import BadgeList from 'components/elements/BadgeList.astro'
import ContactForm from 'components/contactform/ContactForm.astro'
import Hero from 'components/hero/ImageHero.astro'
import FullWidthSection from 'components/section/FullWidthSection.astro'
import ImageSection from 'components/section/ImageSection.astro'
import HalfSection from 'components/section/HalfSection.astro'
import EmptySection from 'components/section/EmptySection.astro'
import Translate from 'components/localization/Translate.astro'
import Feature from 'components/elements/Feature.astro'
import Image from 'components/elements/Image.astro'
import TeamMember from 'components/elements/TeamMember.astro'
import LinkButton from 'components/elements/LinkButton.astro'
import tools from 'data/tools.json'
import { organizationSchema, websiteSchema } from 'utils/jsonLD'

const { cms, hosts, ssg } = tools
---

<Layout pathname={Astro.request.url.pathname} canonicalURL={Astro.request.canonicalURL.href}>
    <head>
        {websiteSchema}
        {organizationSchema}
    </head>

    <Hero id="hero" title="hero-caption-a" titleUnderline="hero-caption-b" subtitle="lorem-ipsum-medium" buttonText="Get started" buttonLink="#"/>

	<EmptySection id="partners" class="partners" >
		<div class="wrapper">
			<a href="#" class="item">
				<Image src="https://raw.githubusercontent.com/alawe45/Html-Css-Js-game-agency-project/master/images/partner-1.png" alt="Riot Games" class="partner__img"/>
			</a>
			<a href="#" class="item">
				<Image src="https://raw.githubusercontent.com/alawe45/Html-Css-Js-game-agency-project/master/images/partner-2.png" alt="Blizzard" class="partner__img"/>
			</a>
			<a href="#" class="item">
				<Image src="https://raw.githubusercontent.com/alawe45/Html-Css-Js-game-agency-project/master/images/partner-3.png" alt="Zynga" class="partner__img"/>
			</a>
			<a href="#" class="item">
				<Image src="https://raw.githubusercontent.com/alawe45/Html-Css-Js-game-agency-project/master/images/partner-4.png" alt="Sega" class="partner__img"/>
			</a>
			<a href="#" class="item">
				<Image src="https://raw.githubusercontent.com/alawe45/Html-Css-Js-game-agency-project/master/images/partner-5.png" alt="Activision" class="partner__img"/>
			</a>
		</div>
	</EmptySection>

	<HalfSection id="features" class="features" title="FEATURES" subtitle="What we are offering" description="lorem-ipsum-short">
		<div class="wrapper">
			<Feature title="Website design" description="lorem-ipsum-short" image="/images/icons/thumb-up.svg" />
			<Feature title="Game launch" description="lorem-ipsum-short" image="/images/icons/computer.svg" />
			<Feature title="Social media" description="lorem-ipsum-short" image="/images/icons/sim.svg" />
			<Feature title="Website design" description="lorem-ipsum-short" image="/images/icons/rocket.svg" />
      </div>
	</HalfSection>

	<FullWidthSection id="team" class="team" title="TEAM" subtitle="Meet our team">
		<div class="wrapper">
			<TeamMember title="Samantha Rea" description="Product Designer" image="/images/illustrations/huumans/standing-19.svg"/>
			<TeamMember title="Samantha Rea" description="Product Designer" image="/images/illustrations/huumans/sitting-8.svg"/>
			<TeamMember title="John Doe" description="SEO Specialist" image="/images/illustrations/huumans/standing-1.svg"/>
		</div>
		<div class="footer">
			<LinkButton />
		</div>
    </FullWidthSection>

    <FullWidthSection title="TECHNOLOGY WE USE" subtitle="Building the Modern Web">
        <BadgeList title={cms.title} badges={cms.items} />
        <BadgeList title={ssg.title} badges={ssg.items} />
        <BadgeList title={hosts.title} badges={hosts.items} />
    </FullWidthSection>

	<ImageSection imgUrl="/images/illustrations/Astronaut-cuate.svg" imgAlt="Illustration" imgAnimateOnScroll={true} title="SITES WITH BENEFITS" subtitle="Why use the Jamstack?">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus varius mauris congue euismod. Duis semper tincidunt orci, 
		eu consequat nulla vulputate et. Mauris non ornare urna, nec interdum lacus. Sed et scelerisque nulla. Fusce sagittis ullamcorper risus, 
		at ultrices lectus rhoncus nec. Suspendisse at condimentum mauris. Aliquam erat volutpat. Nunc sodales vehicula lacus, quis sagittis urna suscipit quis. 
		Integer sit amet erat posuere, posuere ex non, auctor ante. Maecenas ullamcorper sem non porta sollicitudin. Integer id urna semper, pretium leo eget, 
		rhoncus nulla. Fusce faucibus scelerisque tincidunt.</p>
    </ImageSection>

    <FullWidthSection id="contact" title="JAMSTACK DEVELOPERS FOR HIRE" subtitle="Get in Touch">
        <p>
            We love what we do and are always up for an interesting conversation, whether you're ready to
            get started or just have a few questions.
        </p>
        <ContactForm />
    </FullWidthSection>
</Layout>

<style lang="scss">
  	.partners {
		text-align: center;

		.wrapper {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
			gap: 1rem;
			align-items: center;

			.item {
				transition: none 300ms ease-in-out;
				transition-property: transform, opacity;

				&::hover {
					transform: translateY(-0.1rem);
					opacity: 0.8;
				}
			}
		}
	}

	.features .wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
		gap: 2rem;
	}

	.team .wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 21.875rem), 1fr));
		gap: 1.5rem;
	}

</style>
