---
import Image from 'components/elements/Image.astro'
	
interface Props {
	title: string
	subtitle: string
	alt: boolean
	imgUrl: string
	imgAlt: string
	imgWidth?: string
	imgHeight: string
	imgAnimateOnScroll: boolean
	id?: string
	direction?: string
}

const { title, subtitle, imgUrl, imgAlt, imgWidth, imgHeight, imgAnimateOnScroll, id,  class: className = '', alt = false, direction = 'right' } = Astro.props as props
---

<section class={`${alt && 'alt'} ${className}`} id={id || ''}>
	<div class="container">
		<div class="image-content">
			<Image class="image" src={imgUrl} alt={imgAlt} width={imgWidth} height={imgHeight} interactivity={imgAnimateOnScroll && 'scroll'} />
			<div class="content">
				{title && <h2 class="h6 text-primary"><strong>{title}</strong></h2>}
				{subtitle && <h3 class="h2">{subtitle}</h3>}
				<slot />
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	.image-content {
		/** Grid alternative 
		* width: 100%;
		* display: grid;
		* align-items: center;
		* grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		* gap: 3rem 6rem;
		*/

		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem 6rem;
		
		> * {
			flex: 1 1 0;
		}
	}

	@media (min-width: 60em) {
		.image-content {
			flex-direction: row;

			> * {
				width: 0;
			}
		}
	}
</style>
