---
import TagsList from 'components/blog/TagsList.astro'
import WebMentionsCount from 'components/social/WebMentionsCount.astro'
import site from 'data/site.json'
import { formatDate } from 'utils/formatDate'
import { pathJoin } from 'utils/pathJoin'

const { post } = Astro.props

const tags = post.tags.map((tag) => {
  return {
    tag,
    url: `/tags/${tag}`
  }
})

const URL = `https://${pathJoin(site.domain, post.url)}`

const webMentions = allMentions.children;
---

<article>
  <a href={post.url}>
    <h3 class="underline">{post.title}</h3>
  </a>
    
  <time class="h6" datetime={post.published_date}>{formatDate(post.published_date)}</time>
  <small> • {post.minutes} min read</small>

  <p>{post.description}</p>

  <footer>
    {webMentions.length > 0 && (
      <WebMentionsCount webMentions={webMentions} />
    )}

    <TagsList tags={tags} />
  </footer>
</article>

<style lang="scss">
  article {
    &:not(:first-of-type) {
      margin-top: var(--spacer-lg);
    }

    & > a {
      display: block;
    }
  }

  h3 {
    margin-bottom: var(--spacer-tiny);
  }

  p {
    margin: var(--spacer-sm) 0;
  }

  a {
    color: inherit;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-xs);

    @media (min-width: 480px) {
      & {
        flex-direction: row;
        align-items: center;
        gap: var(--spacer-sm);
      }
    }

    @media (min-width: 768px) {
      & {
        gap: var(--spacer-md);
      }
    }
  }
</style>
