---
import Layout from "./base.astro";
import Section from "../components/section/Section.astro";

interface Props {
	content: {
		title: string;
		last_updated?: string;
	};
}

const { content } = Astro.props as props;

const lastUpdated = content.last_updated && new Date(content.last_updated).toDateString();
---

<Layout title={content.title} pathname={Astro.request.url.pathname} canonicalURL={Astro.request.canonicalURL.href}>
	<Section alt>
		<h1>{content.title}</h1>

		{lastUpdated && <p class="legal__last-updated">Last Updated: {lastUpdated}</p>}

		<slot />
	</Section>
</Layout>

<style lang="scss">
	h1 {
		margin-bottom: var(--spacer-xs);
	}

	.legal__last-updated {
		margin-bottom: var(--spacer-md);
	}
</style>
